//? My Theme
$choco:#3F72AF;
$choco-white:#08D9D6;
$coffee:#CBA35C;
$footer: #151414;

// scss-docs-start gray-color-variables
$white:    #fff3da;
$gray-100: #f8f9fa;
$gray-200: #d3d3d3;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// scss-docs-end gray-color-variables

$primary:$choco;
$secondary:$choco-white;
$tertiary:$coffee;

//! accordion overrides
$accordion-icon-width:                    1.55rem;
$accordion-icon-color:                    $primary;
$accordion-icon-active-color:             $secondary;
$accordion-icon-transition:               transform 1.35s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'><path d='M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z'/></svg>");

$accordion-button-active-icon:  url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'><path d='M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm-6.5 10h13v1h-13v-1z'/></svg>");

@import "../node_modules/bootstrap/scss/bootstrap.scss";
