@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio{
    padding: 4rem 0;

    .filter-buttons{
        justify-content: center;
        display: flex;
        gap: 1.5rem;
    }

    button{
    text-transform: capitalize;
    }
}

.portfolio-box{
    position: relative;
    width: 100%;
    height: 100%;
    height: 40.5rem;
    overflow: hidden;
    color: $white;
    border-top: 0.5rem solid $secondary;
    border-left: 0.5rem solid $secondary;
    border-right: 0.5rem solid $secondary;

    @include media-breakpoint-down(xl){
        height: 25.5rem;
    }

    @include media-breakpoint-down(md){
        height: 15rem;
    }

    .portfolio-info{
        background-color: rgba($primary, 0.55);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0;
        opacity: 0;
        visibility: hidden;

        .caption{
            text-align: center;
            @include absoluteCenter;

            h4{
                text-transform: uppercase;
            }
        }
    }
    &:hover{
        img{
            transform: scale(1.3);
            @include transitionNew;
        }

        .portfolio-info{
            opacity: 1;
            visibility: visible;
            @include transitionNew;
        }
    }
}
.portfolio-box-small{
    position: relative;
    width: 100%;
    height: 100%;
    height: 25.5rem;
    overflow: hidden;
    color: $white;
    border-top: 0.5rem solid $secondary;

    @include media-breakpoint-down(md){
        height: 15rem;
    }

    .portfolio-info{
        background-color: rgba($primary, 0.55);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0;
        opacity: 0;
        visibility: hidden;

        .caption{
            text-align: center;
            @include absoluteCenter;
            
            h4{
                text-transform: uppercase;
            }
        }
    }
    &:hover{
        img{
            transform: scale(1.3);
            @include transitionNew;
        }

        .portfolio-info{
            opacity: 1;
            visibility: visible;
            @include transitionNew;
        }
    }
}