@use '../custom' as *;

// ? Gradient
@mixin gradient{
    background: linear-gradient(to right, rgba($primary,0.959), rgba($secondary,0.959));
}

// ? Absolute center
@mixin absoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transitionNew{
    transition-duration: 1000ms;
    transition-property: all;
}